<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Parameter Tuning Interface</h2>
        </div>
    </div>
    <br>
    <div class="appsection">{{ pyview.infoView.render() }} </div>
    <br>
    <div class="appsection">{{ pyview.logView.render() }} </div>
    <br>
    <div class="appsection">{{ pyview.hyperParaView.render() }} </div>
    <br>
    <br><br><br>
</div>